.border-gray-50 {
  border: 2px solid #f1f3f6;
}
.border-gray-100 {
  border: 2px solid #e4e7eb;
}
.border-gray-200 {
  border: 2px solid #d7dbe2;
}
.border-gray-300 {
  border: 2px solid #bcc3cf;
}
.border-gray-400 {
  border: 2px solid #a3adbc;
}
.border-gray-500 {
  border: 2px solid #8a97aa;
}
.border-gray-600 {
  border: 2px solid #728098;
}
.border-gray-700 {
  border: 2px solid #5c6c84;
}
.border-gray-800 {
  border: 2px solid #4c596c;
}
.border-gray-900 {
  border: 2px solid #444f5f;
}
.border-gray-950 {
  border: 2px solid #2d343f;
}

// ** reds
.border-red-50 {
  border: 2px solid #fef2f3;
}
.border-red-100 {
  border: 2px solid #fee2e4;
}
.border-red-200 {
  border: 2px solid #fecacd;
}
.border-red-300 {
  border: 2px solid #fca5aa;
}
.border-red-400 {
  border: 2px solid #f77279;
}
.border-red-500 {
  border: 2px solid #ed3842;
}
.border-red-600 {
  border: 2px solid #db2731;
}
.border-red-700 {
  border: 2px solid #b81d26;
}
.border-red-800 {
  border: 2px solid #b81d26;
}
.border-red-900 {
  border: 2px solid #b81d26;
}

// ** oranges
.border-green-50 {
  border: 2px solid #edfcf4;
}
.border-green-100 {
  border: 2px solid #d3f8e2;
}
.border-green-200 {
  border: 2px solid #abefca;
}
.border-green-300 {
  border: 2px solid #75e0ac;
}
.border-green-400 {
  border: 2px solid #3dca8a;
}
.border-green-500 {
  border: 2px solid #18a86b;
}
.border-green-600 {
  border: 2px solid #0d8e5a;
}
.border-green-700 {
  border: 2px solid #0a724a;
}
.border-green-800 {
  border: 2px solid #0b5a3d;
}
.border-green-900 {
  border: 2px solid #0a4a33;
}
// !! oranges
.border-orange-50 {
  border: 2px solid #fdf6f3;
}
.border-orange-100 {
  border: 2px solid #fdeae3;
}
.border-orange-200 {
  border: 2px solid #fcd8cc;
}
.border-orange-300 {
  border: 2px solid #f8bda9;
}
.border-orange-400 {
  border: 2px solid #f39d80;
}
.border-orange-500 {
  border: 2px solid #e8734b;
}
.border-orange-600 {
  border: 2px solid #d4582e;
}
.border-orange-700 {
  border: 2px solid #b24723;
}
.border-orange-800 {
  border: 2px solid #943d20;
}
.border-orange-900 {
  border: 2px solid #7b3821;
}
// !! blues
.border-blue-50 {
  border: 2px solid #f1f6fd;
}
.border-blue-100 {
  border: 2px solid #deebfb;
}
.border-blue-200 {
  border: 2px solid #c5ddf8;
}
.border-blue-300 {
  border: 2px solid #9dc8f3;
}
.border-blue-400 {
  border: 2px solid #6fa9eb;
}
.border-blue-500 {
  border: 2px solid #4d89e4;
}
.border-blue-600 {
  border: 2px solid #386dd8;
}
.border-blue-700 {
  border: 2px solid #2f5ac6;
}
.border-blue-800 {
  border: 2px solid #2c4aa1;
}
.border-blue-900 {
  border: 2px solid #29417f;
}
// !! magentas
.border-magenta-50 {
  border: 2px solid #fdf6fd;
}
.border-magenta-100 {
  border: 2px solid #faecfb;
}
.border-magenta-200 {
  border: 2px solid #f4d8f6;
}
.border-magenta-300 {
  border: 2px solid #eeb9ee;
}
.border-magenta-400 {
  border: 2px solid #e698e5;
}
.border-magenta-500 {
  border: 2px solid #d362d2;
}
.border-magenta-600 {
  border: 2px solid #b643b2;
}
.border-magenta-700 {
  border: 2px solid #963590;
}
.border-magenta-800 {
  border: 2px solid #7b2d76;
}
.border-magenta-900 {
  border: 2px solid #662961;
}

// ** outline

.outline-gray-50 {
  outline: 2px solid #f1f3f6;
}
.outline-gray-100 {
  outline: 2px solid #e4e7eb;
}
.outline-gray-200 {
  outline: 2px solid #d7dbe2;
}
.outline-gray-300 {
  outline: 2px solid #bcc3cf;
}
.outline-gray-400 {
  outline: 2px solid #a3adbc;
}
.outline-gray-500 {
  outline: 2px solid #8a97aa;
}
.outline-gray-600 {
  outline: 2px solid #728098;
}
.outline-gray-700 {
  outline: 2px solid #5c6c84;
}
.outline-gray-800 {
  outline: 2px solid #4c596c;
}
.outline-gray-900 {
  outline: 2px solid #444f5f;
}
.outline-gray-950 {
  outline: 2px solid #2d343f;
}

// ** reds
.outline-red-50 {
  outline: 2px solid #fef2f3;
}
.outline-red-100 {
  outline: 2px solid #fee2e4;
}
.outline-red-200 {
  outline: 2px solid #fecacd;
}
.outline-red-300 {
  outline: 2px solid #fca5aa;
}
.outline-red-400 {
  outline: 2px solid #f77279;
}
.outline-red-500 {
  outline: 2px solid #ed3842;
}
.outline-red-600 {
  outline: 2px solid #db2731;
}
.outline-red-700 {
  outline: 2px solid #b81d26;
}
.outline-red-800 {
  outline: 2px solid #b81d26;
}
.outline-red-900 {
  outline: 2px solid #b81d26;
}

// ** oranges
.outline-green-50 {
  outline: 2px solid #edfcf4;
}
.outline-green-100 {
  outline: 2px solid #d3f8e2;
}
.outline-green-200 {
  outline: 2px solid #abefca;
}
.outline-green-300 {
  outline: 2px solid #75e0ac;
}
.outline-green-400 {
  outline: 2px solid #3dca8a;
}
.outline-green-500 {
  outline: 2px solid #18a86b;
}
.outline-green-600 {
  outline: 2px solid #0d8e5a;
}
.outline-green-700 {
  outline: 2px solid #0a724a;
}
.outline-green-800 {
  outline: 2px solid #0b5a3d;
}
.outline-green-900 {
  outline: 2px solid #0a4a33;
}
// !! oranges
.outline-orange-50 {
  outline: 2px solid #fdf6f3;
}
.outline-orange-100 {
  outline: 2px solid #fdeae3;
}
.outline-orange-200 {
  outline: 2px solid #fcd8cc;
}
.outline-orange-300 {
  outline: 2px solid #f8bda9;
}
.outline-orange-400 {
  outline: 2px solid #f39d80;
}
.outline-orange-500 {
  outline: 2px solid #e8734b;
}
.outline-orange-600 {
  outline: 2px solid #d4582e;
}
.outline-orange-700 {
  outline: 2px solid #b24723;
}
.outline-orange-800 {
  outline: 2px solid #943d20;
}
.outline-orange-900 {
  outline: 2px solid #7b3821;
}
// !! blues
.outline-blue-50 {
  outline: 2px solid #f1f6fd;
}
.outline-blue-100 {
  outline: 2px solid #deebfb;
}
.outline-blue-200 {
  outline: 2px solid #c5ddf8;
}
.outline-blue-300 {
  outline: 2px solid #9dc8f3;
}
.outline-blue-400 {
  outline: 2px solid #6fa9eb;
}
.outline-blue-500 {
  outline: 2px solid #4d89e4;
}
.outline-blue-600 {
  outline: 2px solid #386dd8;
}
.outline-blue-700 {
  outline: 2px solid #2f5ac6;
}
.outline-blue-800 {
  outline: 2px solid #2c4aa1;
}
.outline-blue-900 {
  outline: 2px solid #29417f;
}
// !! magentas
.outline-magenta-50 {
  outline: 2px solid #fdf6fd;
}
.outline-magenta-100 {
  outline: 2px solid #faecfb;
}
.outline-magenta-200 {
  outline: 2px solid #f4d8f6;
}
.outline-magenta-300 {
  outline: 2px solid #eeb9ee;
}
.outline-magenta-400 {
  outline: 2px solid #e698e5;
}
.outline-magenta-500 {
  outline: 2px solid #d362d2;
}
.outline-magenta-600 {
  outline: 2px solid #b643b2;
}
.outline-magenta-700 {
  outline: 2px solid #963590;
}
.outline-magenta-800 {
  outline: 2px solid #7b2d76;
}
.outline-magenta-900 {
  outline: 2px solid #662961;
}
