.icon-x-large {
  font-size: 46px;
}

.icon-large {
  font-size: 38px;
}

.icon-medium {
  font-size: 28px;
}

.icon-small {
  font-size: 25px;
}

.icon-x-small {
  font-size: 18px;
}

.icon-width-x-large {
  width: 55px;
  height: 55px;
}

.icon-width-large {
  width: 50px;
  height: 50px;
}

.icon-width-medium {
  width: 45px;
  height: 45px;
}

.icon-width-small {
  width: 40px;
  height: 40px;
}

.icon-x-small {
  width: 24px;
  height: 24px;
}
